/* VARS */
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-beige: #EFEBE2;
}


/* DEFAULTS */

html, body {
  font-family: "Diatype", sans-serif;
  color: var(--color-white);
  background: var(--color-black);
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

p:not(:last-child) {
  margin-bottom: 1em;
}

p a {
 text-decoration: underline;
 text-underline-position: under;
}

h1 {
  max-width: 500px; /* todo: arbitrary number */
}

ul li:not(:last-child) {
  margin-bottom: 0.25em;
}
ul li.inline-block:not(:last-child) {
  margin-right: 1em;
}

/* COLORS */

.c-white { color: var(--color-black); background: var(--color-white); }
.c-beige { color: var(--color-black); background: var(--color-beige); }
.c-black { color: var(--color-white); background: var(--color-black); }

::-moz-selection  { color: var(--color-black); background: var(--color-beige); }
::selection       { color: var(--color-black); background: var(--color-beige); }

/* TYPOGRAPHY */

.t-l {
  font-size: 36px;
  line-height: 1.05;
  font-weight: 500;
}
.t-m {
  font-size: 18px;
  line-height: 1.2;
}
.t-s {
  font-size: 14.5px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  word-spacing: 0.01em;
}
.t-thin   { font-weight: 100; }
.t-bold   { font-weight: 700; }
.t-italic { font-style: italic; }
.t-caps   { text-transform: uppercase; }
.t-left   { text-align: left; }
.t-center { text-align: center; }
.t-right  { text-align: right; }

.t-cols-2 { columns: 1; column-gap: 5ex;}
@media all and (min-width: 768px) { .t-cols-2 { columns: 2; } }

/* LAYOUT */

.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap; 
}
.flex-reverse {
  flex-direction: row-reverse;
}

.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

.scroll-x {
  overflow-x: scroll;
}

.show-lg-up { display: none; }
@media all and (min-width: 1024px) { .show-lg-up { display: flex;} }

.show-md { display: none; }
@media all and (min-width: 768px) and (max-width: 1023px) { .show-md { display: flex;} }

.show-sm-dn { display: none; }
@media all and (max-width: 767px) { .show-sm-dn { display: flex;} }

/* positioning */

.l-sticky {
  position: sticky!important;
  top: 0;
}
.l-bottom {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 16px * 2);
}

/* padding */
.p-n { padding-top: 12px; } /* originally 16 but visually compensated */
.p-s { padding-bottom: 12px; } /* originally 16 but visually compensated */
.p-s2 { padding-bottom: 24px; }
.p-s3 { padding-bottom: 48px; }
.p-s4 { padding-bottom: 96px; }

/*margin */
.m-s { margin-bottom: 16px; } 
.m-s2 { margin-bottom: 24px; }
.m-s3 { margin-bottom: 48px; }
.m-s4 { margin-bottom: 96px; }

/* rules */
.r-n { border-top: 1px solid; }
.r-s { border-bottom: 1px solid; }
.r-e { border-right: 0; }
@media all and (min-width: 768px) { .r-e { border-right: 1px solid; } }

/* COMPONENTS */

/* blocks */
.block {
  padding: 14px 16px 12px;
  position:relative;
}

.block-full, .block-half, .block-quarter {
  width:  100vw;
}
.block-1-8 {
  width: 50vw;
}
@media all and (min-width: 768px) { 
  .block-full     { width: 100vw; } 
  .block-half     { width: 50vw;}
  .block-quarter  { width: 25vw;}
  .block-1-8      { width: 12.5vw;}
}
.block-wrapper {
  border: none;
  padding: 0;
  height: unset;
}

.block-set-height {
  height:  100vw;
  min-height: 240px;
}
@media all and (min-width: 768px) { .block-set-height { height: calc(50vh - 48px); } }

.block-excerpt {
  padding-right: 64px;
  padding-bottom: 64px;
  min-width: 300px;
}
.block-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* nav */

nav a {
}
nav a:hover {
  opacity: 1;
}
nav .block {
  animation: slide 0.5s linear infinite;
}
@keyframes slide {
  0% { background-position-y: 0; }
  100% { background-position-y: 8px; }
}
nav .block .c-white:hover,  
nav .block .c-white.current { 
  background-image: url( '../svg/stripe-w.svg' ); 
}
nav .block .c-black:hover,
nav .block .c-black.current { 
  background-image: url( '../svg/stripe-b.svg' ); 
}
nav .block .no-bgimg:hover { 
  background-image: none; 
}

/* buttons */
.btn {
  border: 1px solid;
  display: block;
}
.btn:not(:last-child) {
  border-bottom: none;
}
.btn:after {
  content: "->";
  font-weight: 100;
  position: absolute;
  right: 1em;
}
.btn-lg {
  padding: 18px 16px 14px;
}

/* misc */

.thumb {
  display: block;
  width: 180px;
  height: 180px;
  background: rgba(255,255,255,0.2);
  margin-bottom: 32px;
  border-radius: 180px;
}